* {
    margin: 0;
}
  
body {
    margin: 0;
}
   
.container {
    margin: 0;
    padding: 0;
    border: 0;
}   

#panel {
    min-width: 100%;
}
  
#admin_panel {
    min-height: 100%vh
    background-color: red;
    flex-basis: 33%;
}
  
#planner_panel {
    min-height: 100vh;
    background-color: blue;
}
/* styles for task cards */
.card {
    margin: 15px 10px 15px 10px;
}
#todocolor {
    background-color:  #eb4d4b;
    color: white;
    font-weight: bold;
}
#inprogresscolor {
    background-color:  #4834d4;
    color: white;
    font-weight: bold;
}
#donecolor {
    background-color:  #6ab04c;
    color: white;
    font-weight: bold;
}

#reviewcolor {
    background-color:  #f9ca24;
    color: white;
    font-weight: bold;
}
.taskcontainer {
    display: flex;
    flex-wrap: wrap;
}
.list-group-item{
    height: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.taskcardp {
    font-size: small;
}